# Python specific
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# MongoDB startup scripts or data files
*.log
*.gz
*.json
*.lock
data/

# Docker specific
docker-compose.override.yml
*.env

